@media only screen and (min-width: 730px) {

    header,
    main,
    nav,
    footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto 280px;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid #ddd;
        width: auto;
        max-width: none;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    h1 {
        padding: 8px 0 8px 5px;
    }

    main button {
        margin-bottom: 1.34rem;
    }

    footer {
        grid-template-columns: 2fr 1fr 2fr;
        gap: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        align-items: center;
    }

    .grid .member-wrapper {
        height: 100%;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
}