header {
  display: grid;
  grid-template-columns: 24px auto 44px;
}

.navigation {
  display: none;
}

.hamburger::before {
  content: "\2630";
}
.hamburger.show::before {
  content: "\00D7";
}

.navigation ul {display: flex;}